<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.danqiu.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 请求访问使用照相设备 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!--状态栏 android:resizeableActivity="true" -->
    <meta-data
        android:name="android.max_aspect"
        android:value="2.2" />

    <application
        android:name=".config.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:resizeableActivity="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">


        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.BaseRecyleViewAct"/>
        <activity android:name=".activity.RecycleViewActivity"/>
        <activity android:name=".activity.RecycleViewAdapterHelperAct"/>
        <activity android:name=".TabLayoutAct"/>
        <activity android:name=".activity.HandSlideAct"/>
        <activity android:name=".activity.VedioPlayerActivity"/>
        <activity android:name=".activity.GreenDaoAct"/>
        <activity android:name=".activity.FrescoActivity"/>
        <activity android:name=".activity.CardNoAct"/>
        <activity android:name=".activity.PreviewAct"/>
        <activity android:name=".activity.TakePhotoAct"/>
        <activity android:name=".activity.RefreshActivity"/>
        <activity android:name=".activity.CustomViewActivity"/>
        <activity android:name=".activity.PayViewActivity"/>
        <activity android:name=".activity.Pager3DActivity"/>
        <activity android:name=".activity.LoaingActivity"/>

        <activity android:name=".activity.NotificationActivity"/>
        <service android:name=".service.NotificationService"/>

        <activity android:name=".activity.ServiceActivity"/>
        <service android:name=".service.ServiceOne"/>

        <activity android:name=".activity.BroadcastActivity"/>
        <!--静态注册，指定ttt过滤-->
        <!--<receiver android:name=".service.MyBroadCastReceiver">-->
            <!--<intent-filter>-->
                <!--<action android:name="ttt"/>-->
            <!--</intent-filter>-->
        <!--</receiver>-->
        <activity android:name=".activity.EventBusActivity"/>

        <activity android:name=".activity.DataBindingAct"/>

        <activity android:name=".activity.DialogActivity"/>

        <activity android:name=".activity.TestActivity"/>


        <activity android:name=".mp3.Mp3Activity"/>
        <service android:name=".mp3.Mp3Service"/>



        <activity android:name=".activity.ClickScreenActivity"/>
        <activity android:name=".accessibility.AccessiblityMian"/>
        <activity android:name=".accessibility.OpenSetHelperActivity"/>
        <activity android:name=".accessibility.AccessibilityClickAct"/>
         <!--注册辅助功能服务-->
        <service android:name=".accessibility.ClickService"
            android:label="辅助点击"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:process=":BackgroundService">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
             <!--通过xml文件完成辅助功能相关配置，也可以在onServiceConnected中动态配置-->
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_config"/>
        </service>

    </application>

</manifest>